.logo a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  color: #ef4444 !important;
  text-decoration: none;
}

/* Search Component */
.search-comp {
  width: 30rem;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}